{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros  %}
{% block title %}
	{{ parent() }} - All

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
{% block body %}
{{ parent() }}

<div class="container">
	<h1 class="title-page">
		{{'proche_object_detail'|trans}}
	</h1>
</div>

<div id="module" class="container object_detail">
<h3>{{doc[detail_main_title_field]??""}}</h3>
	<div class="row">
	<div class="col-sm-12" style="font-size: 1.2em; font-weight: 700; margin-bottom: 8px">
		{% if doc[detail_sub_title_field]|length==0 %}
			{{'TITLE UNKNOWN'}}
		{% else %}
			{{doc[detail_sub_title_field]|join(",")}}
		{% endif %}
	   </div>
	</div>
	
	{% set i=0 %}
	{% for field in detail_fields.fields %}
		{% if doc[detail_fields.fields[i]] is defined  %}
			{% if doc[detail_fields.fields[i]]|length>0 %}
				<div class="row">
					<div class="col-sm-2" style="font-weight: 600">{{detail_fields.labels[i]|trans}}:</div>
					{% if doc[detail_fields.fields[i]] is iterable %}
						<div class="col-sm-3">{{ doc[detail_fields.fields[i]]|join(", ")}}</div>
					{% else %}
						<div class="col-sm-3">{{ doc[detail_fields.fields[i]]}}</div>
					{% endif %}
					<div class="col-sm-7">
						{% include 'disclaimer_text2.html.twig' with {"i":i} %}
					</div>
				</div>
			{% endif %}
		{% endif %}
		{% set i=i+1 %}
	{% endfor %}
	

<!--DISCLAIMER-->
{% include 'disclaimer_popup.html.twig' with {'cookie_accepted':cookie_accepted??"false" } %}	
</div>
{% endblock %}
