{% extends "base.html.twig" %}
{% import "macros.html.twig" as macros  %}
{% block title %}
	{{ parent() }} - All
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
{% block body %}
{{ parent() }}
<h1 style="text-align:center;">{{'proche_object_detail'|trans}}</h1>
<br/>
<br/>
<div id="module" class="container">
<h3>{{doc[detail_main_title_field]??""}}</h3>
	<div class="row">
	<div class="col-sm-12">{{doc[detail_sub_title_field]??"TITLE UNKNOWN"}}</div>
	</div>
	
	{% set i=0 %}
	{% for field in detail_fields.fields %}
		{% if doc[detail_fields.fields[i]] is defined  %}
			{% if doc[detail_fields.fields[i]]|length>0 %}
				<div class="row">
					<div class="col-sm-2">{{detail_fields.labels[i]}}</div>
					{% if doc[detail_fields.fields[i]] is iterable %}
						<div class="col-sm-10">{{ doc[detail_fields.fields[i]]|join(", ")}}</div>
					{% else %}
						<div class="col-sm-10">{{ doc[detail_fields.fields[i]]}}</div>
					{% endif %}
				</div>
			{% endif %}
		{% endif %}
		{% set i=i+1 %}
	{% endfor %}
	

	
</div>
{% endblock %}
