{% import "macros.html.twig" as macros  %}
{% set details=details??"false" %}

<div class="row">
		<div class="col-sm-2">Recherche libre</div>		
		
		<div class="col-sm-4">{{ macros.select2_multiple("free_search","free_search", path("terms"),"all_str", "", "width:100%") }}</div>
</div>
<div style="{{ details=="true"?"":"display:none;" }}">
<div class="row">
<div class="col-sm-2">Numero de collection</div>
<div class="col-sm-4">{{ macros.select2_multiple("search_colnum","search_colnum", path("terms"),"object_number", "", "width:100%") }}</div>
<div class="col-sm-2">Description</div>
<div class="col-sm-4">{{ macros.select2_multiple("search_desc","search_desc", path("terms"),"title|short_description", "", "width:100%") }}</div>
</div>
<div class="row">
<div class="col-sm-2">Culture</div>
<div class="col-sm-4">{{ macros.select2_multiple("search_culture","search_culture", path("terms"),"culture_str|culture_of_production_str", "", "width:100%") }}</div>
<div class="col-sm-2">Localisation</div>
<div class="col-sm-4">{{ macros.select2_multiple("search_geo","search_geo", path("terms"),"geo_production_str|geo_field_collection_str", "", "width:100%") }}</div>
</div>
<div class="row">
<div class="col-sm-2">Méthode d'acquisition</div>
<div class="col-sm-4">{{ macros.select2_multiple("search_acq","search_acq", path("terms"),"acquisition_method", "", "width:100%") }}</div>
<div class="col-sm-2">Medium</div>
<div class="col-sm-4">{{ macros.select2_multiple("search_medium","search_medium", path("terms"),"medium", "", "width:100%") }}</div>
</div>
</div>
<br/>
<br/>
<div class="container">
	<div class="row">
	 <div class="col-sm-6"></div>
	 <div class="col-sm-2" class="d-flex align-items-center justify-content-center"><input type="button" value="search" id="go_search_alldocs"/><input type="button" value="reset" id="flush"/></div>
	</div>
	<div id="div_results_searchall" class="row"></div>
</div>

<script language="Javascript">

	 var search_all_docs=function(current_page, page_size)
	{
		search_logic_all_docs(current_page, page_size,false)
						
	}
		
	var update_select_from_facet=function(id_select, value)
	{
		$(id_select).append("<option value='"+value+"' selected>"+value+"</option>");
		$(id_select).trigger('change'); 

	}
	

	
	var search_logic_all_docs=function(current_page, page_size, csv)
		{
					//init all twig collapsed
					if(Object.keys(collapsed_visible_state).length==0)
					{
						$('.proche_collapsible').each(function(i, obj) {							
							collapsed_visible_state["#"+$(obj).attr("id")]="none";							
						});
					}
					console.log("SEARCH_CALLED");
					criterias={}
					criterias["current_page"]=current_page;
                    criterias["page_size"]=page_size;
					criterias["free_search"]=$("#free_search").val();
					criterias["search_colnum"]=$("#search_colnum").val();
					criterias["search_desc"]=$("#search_desc").val();
					criterias["search_culture"]=$("#search_culture").val();
					criterias["search_geo"]=$("#search_geo").val();
                    //criterias["search_const"]=$("#search_const").val();
					criterias["search_acq"]=$("#search_acq").val();
					criterias["search_medium"]=$("#search_medium").val();
					criterias["display_facets"]=collapsed_visible_state;
					
					/*if(Object.keys(global_sort).length>0)
					{
						criterias["order"]=Object.keys(global_sort)[0];
						criterias["order_dir"]=global_sort[Object.keys(global_sort)[0]];
					}*/
					console.log(criterias);
					$.post("{{ path('main_search')}}", criterias,
						function(data)
						{
							
						$("#div_results_searchall").html(data);
							
						}
					);
		}
		

$(document).ready(
	function()
	{
		
		$("#flush").click(
			function()
			{
				$("#search_colnum").val(null).trigger('change');
				$("#search_desc").val(null).trigger('change');
				$("#search_culture").val(null).trigger('change');
				$("#search_geo").val(null).trigger('change');
				//$("#search_const").val(null).trigger('change');
				$("#search_acq").val(null).trigger('change');
				$("#search_medium").val(null).trigger('change');
				$("#free_search").val("");
				$("#go_search_alldocs").click();
			}
		);
		$("#go_search_alldocs").click(
				function()
				{
					search=search_all_docs;
					search_all_docs(1, $("#page_size").val());
				});
	}
);
</script>