{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }} - All
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
{% block body %}
{{ parent() }}
<h1 style="text-align:center;">
{{'title'|trans}}
</h1>
<div id="module" class="container">
<div class="row justify-content-center">
<div class="col-sm-3">
<a href="{{ path('home') }}">{{ 'simple_search'|trans }}</a>&nbsp;
<a href="{{ path('detailed_search') }}">{{ 'detailed_search'|trans }}</a>
</div>
</div>
</div>

<br/>
<br/>
{% include 'home_kern.html.twig' with {'details':"false"} %}
{% endblock %}



