{% macro select2_multiple( id_control, name_control, ajax_url, field_select2, class_control, style_control, and_mode) %}
{% set and_mode=and_mode??"FALSE" %}
<select name="{{ name_control }}" id="{{ id_control }}" class="{{ class_control }} select2_proche" style="{{ style_control }}" multiple="multiple"></select> 
{% if and_mode=="TRUE" %}
<div><input type="checkbox" id="chkand_{{ id_control }}" name="chkand_{{ name_control }}" class="chkand">
<label>{{'and'|trans}}</label></div>
{% endif %}
		<script type="text/javascript">
				$(document).ready(
					function()
					{
						$("{{'#'}}{{ id_control }}").select2(select2_generic("{{ ajax_url }}","{{ field_select2 }}","{{ field_select2 }}",1, true ));
					});
			</script>
{% endmacro %}

{% macro select2( id_control, name_control, ajax_url, field_select2, class_control, style_control) %}
<select name="{{ name_control }}" id="{{ id_control }}" class="{{ class_control }}  select2_multiple_proche" style="{{ style_control }}" ></select>
		<script type="text/javascript">
				$(document).ready(
					function()
					{
						$("{{'#'}}{{ id_control }}").select2(select2_generic("{{ ajax_url }}","{{ field_select2 }}","{{ field_select2 }}",1, true ));
						
						
					});
			</script>
{% endmacro %}

{% macro date_field(id_control, name_control, label_field)  %}
<div class="col-sm-4"><div class="label">{{ label_field}} {{'from'|trans}} </div><input type="text" name="{{id_control}}_from" id="{{name_control}}_from" /></div>
<div class="col-sm-4"><div class="label">{{ label_field}} {{'to'|trans}}</div><input type="text" name="{{id_control}}_end" id="{{name_control}}_to"/></div>
<script type="text/javascript">
	$(document).ready(
					function()
					{
						
							$("#{{id_control}}_from").datepicker( 
								{
									format: 'yyyy-mm-dd',
									startView: "years",
									defaultViewDate: '1900-01-01'
								}
							);
						
						
						 $("#{{id_control}}_to").datepicker( 
							{
								format: 'yyyy-mm-dd'
								,
								startView: "years",
								defaultViewDate: '1900-01-01'
							}
						);
						
					});
</script>
{% endmacro %}

{%  macro proche_facet(label, facet_array, class_links, callback_field, display_facets, facet_count, and_mode, and_mode_checked) %}
	
	{% set and_mode=and_mode??"FALSE" %}
	{% set and_mode_checked=and_mode_checked??"FALSE" %}
	{% if (display_facets["#collapse_"~class_links]??"")=="block" %}
		{% set show_div="show" %}
	{% else %}
		{% set show_div="" %}
	{% endif %}
	<div class="results_list_facets" id="module"><b>{{ label }}</b>
	<div class="row">
		<div class="col-sm-12">
			<i>{{facet_count}} {{'entries'|trans}}</i>
		</div>
		<div class="col-sm-12">
			<div style="margin-bottom: 12px">
				<a role="button" id="button_collapse_{{class_links}}" class="buttoncollapsed " data-bs-toggle="collapse" href="#collapse_{{class_links}}" aria-bs-expanded="false" aria-bs-controls="collapse_{{class_links}}">{{'show_hide'|trans}}</a>
			</div>
			<div class="collapse proche_collapsible {{ show_div }}" id="collapse_{{class_links}}" aria-bs-expanded="false">
			{% if and_mode=="TRUE"%}
			<div style="margin-bottom:15px;">  <label><i>{{'and'|trans}}</i><input {{ and_mode_checked=="TRUE"? "checked" : "" }} type="checkbox" id="chk_facet_and_{{ callback_field }}" name="chk_facet_and_{{ callback_field }}" class="chkand chkand_facet" data-modal-key="{{ callback_field }}" style="margin-left:15px" /></label></div>
			{% endif %}
				<ul class="list_facets">
					{% set i=0 %}
					{% for key, sub_array in facet_array %}
						<li>							
							<input {{ sub_array["checked"]? "checked" : "" }}  class="chk_facets" type="checkbox" data-modal-key="{{ callback_field }}" data-modal-value="{{ key }}"  /> {{key}} : {{ sub_array["value"] }} 
						</li>
						{% set i=i+1 %}
					{% endfor %}
				</ul>
				
				{% if i < facet_count %}
				<div class="col-sm-12">
					{% if i+10 < facet_count %}
						<a role="button" id="button_facet_next_{{class_links}}" class="button_facet_next">{{'10_next'|trans}}</a>
					{% else %}
						<a role="button" id="button_facet_next_{{class_links}}" class="button_facet_next">{{ facet_count - i }} {{'next'|trans}}</a>
					{% endif %}
				</div>
				{% endif %}
				{% if i >10 %}
					<div class="col-sm-12">
						{% if i%10 ==0 %}
							{% set diff= 10 %}
						{% else %}
							{% set diff= i - ( i//10 *10) %}
						{% endif %}
						<a role="button" id="button_facet_less_{{class_links}}" class="button_facet_less">{{'close'|trans}} {{diff}} {{'less'|trans}}</a>
					
					</div>
				{% endif %}
			</div>
			
		</div>
	</div>
	</div>

	<script language="Javascript">
		if(!("{{callback_field}}" in expand_facets))
		{
			expand_facets["{{callback_field}}"]={{i}};
		}
		$("#button_facet_next_{{class_links}}").click(
			function()
			{
				increase_facet_size("{{callback_field}}", 10);
				$("#refine_search").click();
			}
		);
		
		$("#button_facet_less_{{class_links}}").click(
			function()
			{
				increase_facet_size("{{callback_field}}", -10);
				$("#refine_search").click();
			}
		);
		
	
	</script>
{% endmacro %}

{% macro url_link(url)%}
	<a target="_blank" href="{{url}}">{{url}}</a>
{% endmacro %}


{% macro handle_iiif_main(manifest, object_name)%}
<style>
      .map {
        width: 100%;
        height: 100%;
      }
    </style>
<div class="modal fade bd-example-modal-lg" id="modal_iiif" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="height:95%">
    <div class="modal-content" style="height:100%">
	
	
	<div class="modal-body" style="padding-top:2px" >
   
	 <div id="map" class="map" style=""> <button  type="button" id="close_modal" class="btn-close aria-label='Close'" style="position:absolute; top:10px; right: 10px; z-index:5000"></button></div>
	
	</div>
	<div class="modal-footer" id="modal-footer"  style="padding:0px 1px 0px 1px;">
		
		<div class="container" style="width:100%">
			<div class="row align-items-center" style="border-bottom:0px; padding:0px 2px 0px 0px;">
				<div class="col-sm-4"> </div>
				<div class="col-sm-4 text-center"><h5>{{ object_name }}</h5></div>
				<div class="col-sm-4 text-center text-sm-end" id="footer-attribution" style="font-size:11px; font-style:italic; line-height:1.0;"></div>
			
			</div>
		</div>
	</div>
    </div>
  </div>
</div>
<div class="row" id="proche_iiif"> 
</div>
<script language="Javascript">

	var thumb_size="300";
	var list_thumbs=Array();
	var list_iiif=Array();
	var list_attributions=Array();
	var map;
	var layer;
	
	
	var refreshMap=function(imageInfoUrl) {
			console.log(imageInfoUrl);
		  fetch(imageInfoUrl)
			.then(function (response) {
			  response
				.json()
				.then(function (imageInfo) {
				  const options = new ol.format.IIIFInfo(imageInfo).getTileSourceOptions();
				  if (options === undefined || options.version === undefined) {
					//notifyDiv.textContent =
					 // 'Data seems to be no valid IIIF image information.';
					 console.log('Data seems to be no valid IIIF image information.');
					return;
				  }
				  options.zDirection = -1;
				  const iiifTileSource = new ol.source.IIIF(options);
				  layer.setSource(iiifTileSource);
				  
				 map.setView(
					new ol.View({
					  resolutions: iiifTileSource.getTileGrid().getResolutions(),
					  extent: iiifTileSource.getTileGrid().getExtent(),
					  constrainOnlyCenter: true,
					})
				  );
				  map.getView().fit(iiifTileSource.getTileGrid().getExtent());
				  //notifyDiv.textContent = '';
				  //map.getView().setZoom(12);
				  map.getView().setZoom(2);
				})
				.catch(function (body) {
				  //notifyDiv.textContent = 'Could not read image info json. ' + body;
				  console.log("Could not read image info json. " + body);
				});
			})
			.catch(function () {
			  //notifyDiv.textContent = 'Could not read data from URL.';
			  console.log("Could not read data from URL");
			});
		}
	
	var init_ol=function()
	{
		/*const layer = new ol.Layer.Tile(),
		  map = new ol.Map({
			layers: [layer],
			target: 'map',
		  });
		 */
		layer = new ol.layer.Tile();
		map = new ol.Map({target: 'map',layers: [layer]});		 
	
	}
	
	var loadIIIF=function(i)
	{
		console.log("load");
		console.log(i);
		refreshMap(list_iiif[i]);
	}
	
	var loadIIIF_modal=function(i)
	{
		$('#modal_iiif').modal('show');
		console.log("load");
		console.log(i);
		refreshMap(list_iiif[i]);
	}
	
	var display_thumbs_main=function(p_list_thumbs, p_list_attributions)
	{
		var html_imgs=Array();
		var i=0;
		var size_col="col-sm-4";
		if(p_list_thumbs.length==1)
		{
			size_col="col-sm-12";
		}
		attribution="";
		while(i<p_list_thumbs.length)
		{
			 var active="";
			 var attribution="";
			 if(i<p_list_attributions.length)
			 {
				attribution=p_list_attributions[i];
			 }
			 if(i==0)
			 {
				active=" active"
			 }
			 html_imgs.push('<div style="margin-bottom:10px" class="'+size_col+' d-flex align-items-center justify-content-center"><div class="box"><a onclick="loadIIIF_modal('+i.toString()+')"><img class="d-block mx-auto  img-fluid" style="margin-bottom:5px" src="'+p_list_thumbs[i]+'" /><div style="text-align:center;" ></a><button  type="button" style="vertical-align:bottom;" id="to_image"  class="btn btn-light" data-bs-toggle="modal" data-bs-target=".bd-example-modal-lg" onclick="loadIIIF('+i.toString()+')" >Détail</button ></div></div></div><div id="image_attribution_{{id}}" class="thumbnail_attribution">'+attribution+'</div>');
			 $("#footer-attribution").html(attribution);
			 
			i++;
		}
		$("#proche_iiif").append(html_imgs.join(''));
	}
	
	
	
	
	
	
	
handle_iiif_main("{{manifest}}", list_iiif, list_thumbs , list_attributions);
</script>
{% endmacro %}

{% macro handle_iiif_summary(manifest, id, link)%}

<div class="row">
<div class="carousel_proche">
<div class="col-xs-2 col-sm-8">
	
	<div id="carouselExampleIndicators{{id}}" class="carousel slide " data-bs-ride="carousel">
		<ol class="carousel-indicators">
		</ol>
	<a class="carousel-control-prev" id="carousel-control-prev{{id}}" role="button" onclick="previous_{{id}}()"  >
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		 <span class="visually-hidden">Previous</span>
	</a>
	<div class="carousel-inner" id="carousel-inner_{{id}}" style="max-width:320px;max-height:320px" >
		<div id="spinner_thumbs_{{id}}" class="spinner-border spinner-thumbs bg-white" role="status" style="display:none">
			<span class="sr-only" style="text-align: center;" ></span>
		</div>
	</div>
	<a class="carousel-control-next" id="carousel-control-next{{id}}" role="button"  onclick="next_{{id}}()">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		 <span class="visually-hidden">Next</span>
		
	</a>
	</div>
	<div id="image_attribution_{{id}}" class="thumbnail_attribution"></div>
</div>
</div>
</div>
	<script language="Javascript">
		var thumb_size_{{id}}="300";
		var ci_{{id}}=0;
		var list_thumbs_{{id}}=Array();
		var list_attributions_{{id}}=Array();
		$("#spinner_thumbs_{{id}}").show();
		$("#spinner_thumbs_{{id}}").css("margin-left:50%");
		
		handle_iiif_thumbs("{{manifest}}", "{{id}}", "carousel-inner_{{id}}" , thumb_size_{{id}},  list_thumbs_{{id}}, list_attributions_{{id}});
		

		
			next_{{id}}=function()
			{
				next_carousel({{id}}, "frame_proche_img_{{id}}_");
			}
			
			previous_{{id}}=function()
			{
				previous_carousel({{id}}, "frame_proche_img_{{id}}_");
			}
		
		
		
	</script>
{% endmacro %}
