{% macro select2_multiple( id_control, name_control, ajax_url, field_select2, class_control, style_control, and_mode) %}
{% set and_mode=and_mode??"FALSE" %}

<select name="{{ name_control }}" id="{{ id_control }}" class="{{ class_control }} select2_proche" style="{{ style_control }}" multiple="multiple"></select> 
{% if and_mode=="TRUE" %}
<input type="checkbox" id="chkand_{{ id_control }}" name="chkand_{{ name_control }}" class="chkand">  <label>{{'and'|trans}}</label>
{% endif %}
		<script type="text/javascript">
				$(document).ready(
					function()
					{
						$("{{'#'}}{{ id_control }}").select2(select2_generic("{{ ajax_url }}","{{ field_select2 }}","{{ field_select2 }}",1, true ));
					});
			</script>
{% endmacro %}

{% macro select2( id_control, name_control, ajax_url, field_select2, class_control, style_control) %}
<select name="{{ name_control }}" id="{{ id_control }}" class="{{ class_control }}  select2_multiple_proche" style="{{ style_control }}" ></select>
		<script type="text/javascript">
				$(document).ready(
					function()
					{
						$("{{'#'}}{{ id_control }}").select2(select2_generic("{{ ajax_url }}","{{ field_select2 }}","{{ field_select2 }}",1, true ));
						
						
					});
			</script>
{% endmacro %}

{% macro date_field(id_control, name_control, label_field)  %}
<div class="col-sm-4"><div class="label">{{ label_field}} {{'from'|trans}} </div><input type="text" name="{{id_control}}_from" id="{{name_control}}_from" /></div>
<div class="col-sm-4"><div class="label">{{ label_field}} {{'to'|trans}}</div><input type="text" name="{{id_control}}_end" id="{{name_control}}_to"/></div>
<script type="text/javascript">
	$(document).ready(
					function()
					{
					    $("#{{id_control}}_from").datepicker( 
							{
								format: 'yyyy-mm-dd',
								startView: "years",
								defaultViewDate: '1900-01-01'
							}
						);
						
						 $("#{{id_control}}_to").datepicker( 
							{
								format: 'yyyy-mm-dd'
								,
								startView: "years",
								defaultViewDate: '1900-01-01'
							}
						);
					});
</script>
{% endmacro %}

{%  macro proche_facet(label, facet_array, class_links, callback_field, display_facets) %}
	
	{% if (display_facets["#collapse_"~class_links]??"")=="block" %}
		{% set show_div="show" %}
	{% else %}
		{% set show_div="" %}
	{% endif %}
	<div class="results_list_facets" id="module"><b>{{ label }}</b><br/>
	<div class="row">
		<div class="col-sm-12">
			<div style="margin-bottom: 12px">
				<a role="button" id="button_collapse_{{class_links}}" class="buttoncollapsed " data-bs-toggle="collapse" href="#collapse_{{class_links}}" aria-bs-expanded="false" aria-bs-controls="collapse_{{class_links}}">{{'show_hide'|trans}}</a>
			</div>
			<div class="collapse proche_collapsible {{ show_div }}" id="collapse_{{class_links}}" aria-bs-expanded="false">
				<ul class="list_facets">
					{% set i=0 %}
					{% for key, sub_array in facet_array %}
						<li>							
							<input {{ sub_array["checked"]? "checked" : "" }}  class="chk_facets" type="checkbox" data-modal-key="{{ callback_field }}" data-modal-value="{{ key }}"  /> {{key}} : {{ sub_array["value"] }} 
						</li>
						{% set i=i+1 %}
					{% endfor %}
				</ul>
				<a role="button" id="button_facet_next_{{class_links}}" class="button_facet_next">{{'10_next'|trans}}
				</a>
				{% if i >10 %}
				<br/><a role="button" id="button_facet_less_{{class_links}}" class="button_facet_less">{{'10_less'|trans}}</a>
				{% endif %}
			</div>
			
		</div>
	</div>
	</div>

	<script language="Javascript">
		if(!("{{callback_field}}" in expand_facets))
		{
			expand_facets["{{callback_field}}"]={{i}};
		}
		$("#button_facet_next_{{class_links}}").click(
			function()
			{
				increase_facet_size("{{callback_field}}", 10);
				$("#refine_search").click();
			}
		);
		
		$("#button_facet_less_{{class_links}}").click(
			function()
			{
				increase_facet_size("{{callback_field}}", -10);
				$("#refine_search").click();
			}
		);
		
	
	</script>
{% endmacro %}

{% macro url_link(url)%}
	<a target="_blank" href="{{url}}">{{url}}</a>
{% endmacro %}