{% macro select2_multiple( id_control, name_control, ajax_url, field_select2, class_control, style_control) %}

<select name="{{ name_control }}" id="{{ id_control }}" class="{{ class_control }}" style="{{ style_control }}" multiple="multiple"></select>
		<script type="text/javascript">
				$(document).ready(
					function()
					{
						$("{{'#'}}{{ id_control }}").select2(select2_generic("{{ ajax_url }}","{{ field_select2 }}","{{ field_select2 }}",1, true ));
						
						
					});
			</script>
{% endmacro %}

{% macro select2( id_control, name_control, ajax_url, field_select2, class_control, style_control) %}

<select name="{{ name_control }}" id="{{ id_control }}" class="{{ class_control }}" style="{{ style_control }}" ></select>
		<script type="text/javascript">
				$(document).ready(
					function()
					{
						$("{{'#'}}{{ id_control }}").select2(select2_generic("{{ ajax_url }}","{{ field_select2 }}","{{ field_select2 }}",1, true ));
						
						
					});
			</script>
{% endmacro %}

{%  macro proche_facet(label, facet_array, class_links, select_2_id, display_facets) %}
	
	{% if (display_facets["#collapse_"~class_links]??"")=="block" %}
		{% set show_div="show" %}
	{% else %}
		{% set show_div="" %}
	{% endif %}
	<div style="border:solid;background-color:#eeeee4;" class="" id="module"><b>{{ label }}</b><br/>
	<div class="row">
		<div class="col-sm-12">
			<div class="collapse proche_collapsible {{ show_div }}" id="collapse_{{class_links}}" aria-bs-expanded="false">
				{% for key, val in facet_array %}
					<i><a class="facet_link {{class_links}}" data-modal-key="{{ key}}" >{{key}}</a> : {{ val }}</i><br/> 
				{% endfor %}
			<br/>	
			</div>
			<a role="button" id="button_collapse_{{class_links}}" class="buttoncollapsed " data-bs-toggle="collapse" href="#collapse_{{class_links}}" aria-bs-expanded="false" aria-bs-controls="collapse_{{class_links}}">Show/hide</a>
		</div>
	</div>
	</div>
	<br>
	<script language="Javascript">
		
	
		$(".{{class_links}}").click(
			function()
			{
				console.log("debut");
				console.log($(this).attr("data-modal-key"));
				var tmp=$(this).attr("data-modal-key");				
				var $newOption = $("<option selected='selected'></option>").val(tmp).text(tmp);
				$("{{select_2_id}}").append($newOption).trigger('change');  
				$("#go_search_alldocs").click();
			}
		)
	
	</script>
{% endmacro %}