{% set include_javascript=include_javascript??true %}
<div class="row">

	<div class="d-flex align-items-center justify-content-center" style="margin-top: 20px; margin-bottom: 6px; font-size: 16px">
	
		{{'Page'|trans}} {{ pagination.page }} {{'of'|trans}} {{ pagination.pages_count }}
		
	</div>
	
	<div>
	
		<div class="row">
		
			<div class="d-flex align-items-center justify-content-center">
			
				<div class="pagination">

					<div class="pagination-buttons">
					
						{% if pagination.page>1 %}
						
							<button type="button" class="pager_{{key}}" value="1"><<</button>
							<button type="button"  class="pager_{{key}}" value="{{pagination.page - 1}}" ><</button>
						
						{% endif %}
						
						{#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
						
						{% for p in range(max(pagination.page-4, 1), 
						min(pagination.page+4, pagination.pages_count)) %}
						<button type="button" {% if p == pagination.page %} class="current-page pager" {% else %} class="pager_{{key}}" {% endif %} value="{{ p }}">{{ p }}</button>
						{% endfor %}
						
						{% if pagination.page<pagination.pages_count %}
						
							<button type="button" value="{{ pagination.page + 1 }}" class="pager_{{key}}">></button>
							<button type="button" value="{{ pagination.pages_count }}" class="pager_{{key}}">>></button>
			

		
						{% endif %}
		
					</div>
					
					<div class="gotopage">
						{{'go_to_page'|trans}}
						<input type="text" id="direct_page_{{key}}" value="{{ pagination.page }}" />
						<input type="button" id="go_page_{{key}}" value="OK"/>
					</div>
	
					<div class="resultsperpage">
						{{'number_results_per_page'|trans}}
						<select id="page_size_{{key}}" name="page_size">
							<option value="5" {{ page_size=="5" ? 'selected="selected"' : '' }} >5</option>
							<option value="10" {{ page_size=="10" ? 'selected="selected"' : '' }} >10</option>
							<option value="20" {{ page_size=="20" ? 'selected="selected"' : '' }} >20</option>
							<option value="25" {{ page_size=="25" ? 'selected="selected"' : '' }} >25</option>
							<option value="50" {{ page_size=="50" ? 'selected="selected"' : '' }} >50</option>
							<option value="100" {{ page_size=="100" ? 'selected="selected"' : '' }} >100</option>
						</select>
						
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>
{% if include_javascript %}
<script type="text/javascript">
	
    Number.isInteger = Number.isInteger || function(value) {
			return typeof value === "number" &&
				   isFinite(value) &&
				   Math.floor(value) === value;
		};
	$(document).ready(	  
		function()
		{	
           

			$('.pager_{{key}}').click(
				function()
				{
					console.log("page=");
                    console.log($(this).val());
					search($(this).val(),$("#page_size_{{key}}").val());
					
				});	
            $('#go_page_{{key}}').click(
				function()
				{
					console.log("!!!!!!!!!!!!!");
					console.log($('#direct_page_{{key}}').val());
					var p=parseInt($('#direct_page_{{key}}').val())
					
						if(p>=1 && p <= {{ pagination.pages_count }})
						{
							search(p,$("#page_size_{{key}}").val());
						}
					
					
				});

           $('#page_size_{{key}}').change(
                function()
                {
                    search(1,$("#page_size_{{key}}").val());
                }
           );                
		}	
	);
{% endif %}
</script>