{{nb_result}}  Resultats

{% include 'pagination.html.twig' %}

{% for key, doc in results %}
<div style="border:solid;margin-bottom:5px;">
<h3>{{ key +1}}. {{doc["object_number"]}}</h3>
<div class="row" >
<div class="col-sm-2"><a href="{{ path('detail')}}?q={{doc["id"]}}" target="_blank">Détail</a></div>
</div>
<div class="row" >
<div class="col-sm-12">{{doc["title"]??"TITLE UNKNOWN"}}</div>

<div class="col-sm-2">Date d'acquisition</div><div class="col-sm-10">{{doc["date_of_acquisition"]??""}}</div>
</div>

</div>
{% endfor %}