{% import "macros.html.twig" as macros  %}
<div class="d-flex align-items-center justify-content-center"><b>{{nb_result}}  Resultats</b></div>
<br/>
<div class="row justify-content-center">

<div class="col-sm-2 ">
<input type="button" id="get_csv" name="get_csv" value="{{'download_csv'|trans}}">
</div>
</div>
<br/>

<div class="d-flex align-items-center justify-content-center">{% include 'pagination.html.twig' %}</div>
<br/>
<br/>

<br/>

<div class="row" >
<div class="col-sm-4">
	{% set i=0 %}

	{% for facet in dyna_field_facets %}
		
		{{ macros.proche_facet(facet["label"]|trans, facet["facet"], "facet_"~facet["label"] ,"#"~facet["callback"], display_facets) }}
		{% set i=i+1 %}
	{% endfor %}
	
</div>
<div class="col-sm-8">
{% set base_result= (page-1)* page_size %}
{% for key, doc in results %}

<div style="border:solid;margin-bottom:5px;">
<h3>{{ base_result+ key +1}}. {{doc[title_field]}}</h3>

	


<div class="row" >
	<div class="row" >
	<div class="col-sm-2"><a href="{{ path('detail')}}?q={{doc[link_field]}}" target="_blank">Détail</a></div>
	</div>
	{% set i=0 %}
	{% for detail_field in result_fields.fields %}
		<div class="row">
			<div class="col-sm-3">{{ (result_fields.labels[i]??"")|trans }}</div><div class="col-sm-9">{{doc[result_fields.fields[i]]??""}}</div>
		</div>
		{% set i=i+1 %}
	{% endfor %}
	{% if doc["thumbnail_path_ss"] is defined %}
		{% if doc["thumbnail_path_ss"]|length >0 %}
			<div class="col-sm-12"><img src="{{doc["thumbnail_path_ss"][0]??""}}" />
			</div>
		{% endif %}
	{% endif %}
	
</div>
</div>

{% endfor %}
<script language="Javascript">
$(".buttoncollapsed").click(
			function()
			{
				console.log("test_collapsed");
				
				$('.proche_collapsible').each(function(i, obj) {
					
					test_collapsed("#"+$(obj).attr("id"));
					
				});
				
			}
		);
		
		$("#get_csv").click(
			function()
			{
				console.log("get csv");
				search_csv(1,1);
			}
		);
</script>
</div>
</div>