{% import "macros.html.twig" as macros  %}
<div class="d-flex align-items-center justify-content-center"><b>{{nb_result}}  Resultats</b></div>
<br/>
<div class="row justify-content-center">

<div class="col-sm-2 ">
<input type="button" id="get_csv" name="get_csv" value="{{'download_csv'|trans}}">
</div>
</div>
<br/>

<div class="d-flex align-items-center justify-content-center">{% include 'pagination.html.twig' %}</div>
<br/>
<br/>

<br/>

<div class="row" >
<div class="col-sm-4">
	{{ macros.proche_facet('medium'|trans, facet_medium, "facet_medium", "#search_medium", display_facets) }}
	{{ macros.proche_facet('acquisition_method'|trans, facet_acquisition, "facet_acquisition","#search_acq", display_facets) }}
	{{ macros.proche_facet('location'|trans, facet_geo, "facet_geo","#search_geo", display_facets) }}
	{{ macros.proche_facet('culture'|trans, facet_culture, "facet_culture","#search_culture", display_facets) }}
	
</div>
<div class="col-sm-8">
{% set base_result= (page-1)* page_size %}
{% for key, doc in results %}

<div style="border:solid;margin-bottom:5px;">
<h3>{{ base_result+ key +1}}. {{doc["object_number"]}}</h3>

	


<div class="row" >
	<div class="row" >
	<div class="col-sm-2"><a href="{{ path('detail')}}?q={{doc["id"]}}" target="_blank">Détail</a></div>
	</div>
	<div class="row" >
	<div class="col-sm-12">{{doc["title"]??"TITLE UNKNOWN"}}</div>

	<div class="col-sm-2">Date d'acquisition</div><div class="col-sm-10">{{doc["date_of_acquisition"]??""}}
	</div>
	{% if doc["thumbnail_path_ss"] is defined %}
		{% if doc["thumbnail_path_ss"]|length >0 %}
			<div class="col-sm-12"><img src="{{doc["thumbnail_path_ss"][0]??""}}" />
			</div>
		{% endif %}
	{% endif %}
	</div>
</div>
</div>

{% endfor %}
<script language="Javascript">
$(".buttoncollapsed").click(
			function()
			{
				console.log("test_collapsed");
				
				$('.proche_collapsible').each(function(i, obj) {
					
					test_collapsed("#"+$(obj).attr("id"));
					
				});
				
			}
		);
		
		$("#get_csv").click(
			function()
			{
				console.log("get csv");
				search_csv(1,1);
			}
		);
</script>
</div>
</div>