{% import "macros.html.twig" as macros  %}

<div style="text-align: center; margin-bottom: 6px; font-size: 20px; font-weight: 800">
	{{nb_result}}  {{'results_number'|trans}}
</div>

<div style="text-align: center">
	<div>
		<div id="div_back_search" name="div_back_search" class="div_back_search" >
			<input style="display:inline-block" class="search_button"  type="button" name="show_search" id="show_search" value="+ {{'show_search'|trans}}"></input>
			
		</div>
		<div  class="div_back_search" >
			<input style="display:inline-block" class="search_button" type="button" id="refine_search" name="refine_search" value="- {{'refine_search'|trans}}">
		</div>
		
		
		<input style="display:inline-block" type="button" id="get_csv" name="get_csv" value="{{'download_csv'|trans}}">
	</div>
</div>

<div class="d-flex align-items-center justify-content-center">
	{% include 'pagination.html.twig' with {'include_javascript':true} %}
</div>

<div class="row" >

	<div class="col-sm-4">
		
		{{'filter_results_facets'|trans}} :
	
		{% set i=0 %}

		{% for facet in dyna_field_facets %}
			
			{{ macros.proche_facet(facet["label"]|trans, facet["facet"], "facet_"~facet["label"] ,facet["callback"], display_facets) }}
			{% set i=i+1 %}
		{% endfor %}
		
		<br />
		
	</div>
	
	<div class="col-sm-8">
	
		{{'results_list'|trans}} :

		{% set base_result= (page-1)* page_size %}
		
		{% for key, doc in results %}

			<div class="results_list">
				<div class="row" >
				<div class="col-sm-3" style="margin-bottom: 4px"><h3 class="results_list_title">{{doc[title_field]|join(",")}}</h3></div>
				</div>
				<div class="row" >
				
					<div class="row" >
					
						<div class="col-sm-2" style="margin-bottom: 4px">
						
							<a href="{{ path('detail')}}?q={{doc[link_field]}}" target="_blank">{{'label_detail'|trans}}</a>
							
						</div>
						
					</div>
					
					{% set i=0 %}
					{% for detail_field in result_fields.fields %}
					
					<div class="row">
					
						<div class="col-sm-3">
						
							{{ (result_fields.labels[i]??"")|trans }}:
							
						</div>
						
						<div class="col-sm-9">
						{% if   doc[result_fields.fields[i]] is defined %}
							{% if doc[result_fields.fields[i]] is iterable %}
								{{(doc[result_fields.fields[i]]|join(","))}}
							{% else %}
								{{doc[result_fields.fields[i]]??""}}
							{% endif %}
						{% endif %}	
						</div>
						
					</div>
					
					{% set i=i+1 %}
					
					{% endfor %}
			
				</div>
			
			</div>

		{% endfor %}
	
		<script language="Javascript">
		
		$("#refine_search").click(
			function()
			{
				
				search(1, $("#page_size").val());
			}
		);
		
		$(".buttoncollapsed").click(
					function()
					{
						console.log("test_collapsed");
						
						$('.proche_collapsible').each(function(i, obj) {
							
							test_collapsed("#"+$(obj).attr("id"));
							
						});
						
					}
				);
				
				$("#get_csv").click(
					function()
					{
						console.log("get csv");
						search_csv(1,1);
					}
				);
				
				$("#show_search").click(function()
				{
					$("#main_search_div").show();
					$(".div_back_search").hide();
				}
			);
					
		</script>

	</div>
	
</div>

<div class="d-flex align-items-center justify-content-center">
	{% include 'pagination.html.twig' with {'include_javascript':false} %}
</div>