{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }} - All
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
{% block body %}
{{ parent() }}
<h1 class="title-page">
{{ 'disclaimer_title_page'|trans }}
</h1>
{% endblock body %}