{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }} - All
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
{% block body %}
{{ parent() }}
<h1 class="title-page">
{{ 'bibliography_title_page'|trans }}
</h1>
<!--DISCLAIMER-->
{% include 'disclaimer_popup.html.twig' with {'cookie_accepted':cookie_accepted??"false" } %}
{% endblock %}
